---
name: Release the Target Release

on:
  push:
    branches:
      - master
    paths:
      - 'releases/**'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Create the release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
          QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        run: make create-release
